<!-- Navbar -->
<nav>
  <div class="nav-wrapper">
    <div class="brand-logo">
      <%= image_tag('logo_atelier_jus.svg') %>
    </div>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Menu scrollspy sur ordinateur seulement -->
    <div id="desktop-menu" class="right hide-on-med-and-down ">
      <ul class="table-of-contents">
        <li><a href="#notre-methode">Notre méthode</a></li>
        <li><a href="#nos-jus">Nos jus</a></li>
        <li><a href="#qui-sommes-nous">Qui sommes-nous ?</a></li>
        <li><a href="#ou-nous-trouver">Où nous trouver ?</a></li>
      </ul>
    </div>
    <!-- ************************** -->

    <!-- Menu sur mobile -->
    <ul class="side-nav table-of-contents" id="mobile-demo">
      <li><a href="#notre-methode">Notre méthode</a></li>
      <li><a href="#nos-jus">Nos jus</a></li>
      <li><a href="#qui-sommes-nous">Qui sommes-nous ?</a></li>
      <li><a href="#ou-nous-trouver">Où nous trouver ?</a></li>
    </ul>
    <!-- ************************** -->
  </div>
</nav>

<!-- Contenu de la page : attention aux id des parties pour le menu scrollspy -->

<!-- Banner -->
<%= image_tag('background-image.jpg', id: 'image-banner-home') %>
<!-- ************************** -->

<!-- Punchline -->
<div class="global-container center-align padded">
  <h1 class="pimpernel uppercase">Le bio comme tu ne l'as jamais bu !</h1>
</div>
<!-- ************************** -->

<!-- Méthode de fabrication -->
<div id="notre-methode" class="section scrollspy bg-grey section-container">
  <h4 class="center-align b-grey section-title">Processus de fabrication</h4>
  <p class="center-align">Chez Atelier Jus, nous utilisons le pressage à froid pour extraire le meilleur des fruits et légumes.
  <br>
  Ce procédé de fabrication unique permet de préserver les vitamines, enzymes et minéraux afin d'obtenir un goût authentique.</p>
  <div id="notre-methode-process">
    <div class="row">
      <div class="col s12 m4">
        <%= image_tag('selection-fruits.png') %>
      </div>
      <div class="col s12 m4">
        <%= image_tag('presse.png') %>
      </div>
      <div class="col s12 m4">
        <%= image_tag('bouteille.png') %>
      </div>
    </div>
  </div>
  <p class="center-align">Nos délicieux fruits et légumes bio sont broyés et ensuite écrasés sous une presse hydraulique exerçant une pression de plus de 500kg.</p>
</div>
<!-- ************************** -->

<!-- Présentation des jus -->
<div id="nos-jus" class="section scrollspy section-container">
  <h4 class="center-align b-grey section-title">Nos délicieux jus</h4>
  <p class="center-align">Les jus pressés à froid sont excellents pour la santé, ils donnent de l'énergie et rendent plus beau - si si ! -
  <br>
  Voici un aperçu de nos délicieuses créations.</p>
  <div id="section-jus">
    <div class="row">
      <%= render 'shared/card-juice', bg_color: 'orange', photo: 'bouteille.png' %>
      <%= render 'shared/card-juice', bg_color: 'yellow', photo: 'bouteille.png' %>
    </div>
    <div class="row">
      <%= render 'shared/card-juice', bg_color: 'red', photo: 'bouteille.png' %>
      <%= render 'shared/card-juice', bg_color: 'green', photo: 'bouteille.png' %>
    </div>
  </div>
</div>
<!-- ************************** -->

<!-- Présentation de l'équipe -->
<div id="qui-sommes-nous" class="section scrollspy bg-grey section-container">
  <h4 class="center-align b-grey section-title">Les fondateurs</h4>
  <div id="section-equipe">
    <div class="founder">
      <div class="founder-image" id="thomas-image" style="background-image: url('<%= image_path('thomas.png')%>');">
      </div>
      <div class="founder-bio bg-white">
        <div>
          <h3>Thomas Valera</h3>
          <p>Hello, mois c'est Thomas.</p>
          <p>Je suis né et j’ai grandi dans le sud est de la France, à côté de Cannes.</p>
          <p>J’ai découvert le jus pressé à froid lors de mes années passées en Amérique du Nord. J’ai immédiatement été convaincu par le potentiel de ce type de produit encore trop méconnu en France.</p>
          <p>Dès mon retour en France, j’ai réfléchi à développer une marque qui allierait qualité, plaisir et accessibilité avec une idée en tête qui m’anime depuis longtemps : m’engager pour la démocratisation du mieux-manger et du mieux-vivre.</p>
          <p>Voilà comment est né Atelier Jus, le bio comme tu ne l’as jamais bu!</p>
        </div>
      </div>
    </div>
    <div class="founder">
      <div class="founder-bio bg-white">
        <div>
          <h3>Romain Perraut</h3>
          <p>Salut, moi c’est Romain, le Breton de la bande.</p>
          <p>Je suis un grand fan de sport, joueur de rugby depuis mes 7 ans, j’aime toucher à tous les sport et notamment les sport de voiles et de glisse.</p>
          <p>En charge des partenariats sportifs dans une grande entreprise française, j’ai tout de suite été conquis par l’aventure Atelier Jus.</p>
          <p>Comme Thomas, je suis sensible aux problématiques environnementales et écologiques et c’est pour ça que nous souhaitons ancrer ces valeurs dans notre entreprise.</p>
          <p>Du Bio, du frais, du bon, c’est ce que nous souhaitons te proposer avec Atelier Jus, le bio comme tu ne l’as jamais bu !</p>
        </div>
      </div>
      <div class="founder-image" id="romain-image" style="background-image: url('<%= image_path('romain.png')%>');">
      </div>
    </div>
  </div>
</div>
<!-- ************************** -->

<!-- Où les trouver : les prestations -->
<div id="ou-nous-trouver" class="section scrollspy">
  <p>Où nous trouver ?</p>
</div>
<!-- ************************** -->

